[user]
	email = szelei.t@gmail.com
	name = Tamás Szelei

[alias]
	afp = !git add -u && git commit --fixup HEAD && git push && :
	au = add -u
	cm = commit
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	fix = commit --fixup HEAD
	fp = fetch -p
	ls = log --oneline
	perm-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
	purr = pull --rebase
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbm = "!f() { git fetch -p origin master && git rebase -i origin/master; }; f"
	st = status -sb
  lsh = !git ls | head -20
  mbs = !git branch -a | grep tamas
  nb = "!f() { git co master && git pull -p && git cob $1; }; f"
  pp = pull -p
	ru = "!f() { git fp && git reset --hard @{u}; }; f"

[pull]
	ff-only = true

[rebase]
	autosquash = true
[push]
	default = current

[color]
  ui = always
[core]
	excludesfile = /home/tamas/.gitignore_global
