[user]
	email = szelei.t@gmail.com
	name = Tamás Szelei

[alias]
	co = checkout
	cob = checkout -b
	au = add -u
	cm = commit
	fix = commit --fixup HEAD
	ls = log --oneline
	st = status -sb
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	purr = pull --rebase
	afp = !git add -u && git commit --fixup HEAD && git push && :
	cp = cherry-pick
  mbs = !git branch -a | grep tamas

[pull]
	ff-only = true

[rebase]
	autosquash = true
[push]
	default = current
