[user]
  email = szelei.t@gmail.com
  name = Tamás Szelei

[alias]
  afp = !git add -u && git commit --fixup HEAD && git push && :
  au = add -u
  cm = commit
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  fix = commit --fixup HEAD
  fp = fetch -p
  ls = log --oneline
  perm-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
  purr = pull --rebase
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbm = "!f() { git fetch -p origin master && git rebase -i origin/master; }; f"
  st = status -sb
  lsh = !git ls | head -20
  mbs = !git branch -a | grep tamas
  nb = "!f() { git co master && git pull -p && git cob $1; }; f"
  pp = pull -p
  ru = "!f() { git fp && git reset --hard @{u}; }; f"
  cpb = "!f() { git branch --show-current | xargs echo -n | xclip -selection c; }; f"
  cpr = "!f() { git rev-parse HEAD | xargs echo -n | xclip -selection c; }; f"
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | grep -v 'fixup!' | fzf | awk '{print $1}' | xargs -o git commit --fixup"

[pull]
  ff-only = true
  ff = only

[rebase]
  autosquash = true
[push]
  default = current

[color]
  ui = always

[core]
  excludesfile = /home/tamas/.gitignore_global
  pager = delta --dark

[delta "collared-trogon"]
    # author: https://github.com/clnoll
    commit-decoration-style = bold box ul
    dark = true
    file-decoration-style = none
    file-style = omit
    hunk-header-decoration-style = "#022b45" box ul
    hunk-header-file-style = "#999999"
    hunk-header-line-number-style = bold "#003300"
    hunk-header-style = file line-number syntax
    line-numbers = true
    line-numbers-left-style = "#022b45"
    line-numbers-minus-style = "#80002a"
    line-numbers-plus-style = "#003300"
    line-numbers-right-style = "#022b45"
    line-numbers-zero-style = "#999999"
    minus-emph-style = normal "#80002a"
    minus-style = normal "#330011"
    plus-emph-style = syntax "#003300"
    plus-style = syntax "#001a00"
    syntax-theme = TwoDark

[delta]
  features = collared-trogon
  whitespace-error-style = 22 reverse

[init]
  defaultBranch = main
[merge]
  tool = kdiff3
[mergetool "kdiff3"]
  trustExitCode = false
[mergetool "meld"]
  trustExitCode = false
[mergetool "bcompare"]
  path = /usr/bin/bcompare
[mergetool "bc3"]
  trustExitCode = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
